.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    align-items: flex-start;
    z-index: 100;
    padding: 30px;
}
.searchPage__logo {
    object-fit: contain;
    height: 30px;
    margin-right: 50px;
}
.searchPage__headerBody .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;

}
.searchPage__options {
    display: flex;
    margin-top: 20px;
}
.searchPage__options > .searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px
}
.searchPage__options > .searchPage__option > .MuiSvgIcon-root {
    color: #5f6368;
    font-size: medium;
}
.searchPage__options > .searchPage__option > a{
    color: #5f6368;
    text-decoration: none;
    font-size: small;
}
.searchPage__results {
    margin-left: 180px;
    margin-top: 10px;
    color: #4d5156;
    width: 50%;
}
.searchPage__results .result_info {
    font-size: 14px;
    color: #5f6368;
}
.searchPage__results > .searchPage__result {
    margin-bottom: 28px;
}
.searchPage__result > .searchPage__resultLink {
    color: #4d5156;
}
.searchPage__result > .searchPage__resultTitle  {
    text-decoration: none;
    color: #1A0DAB;
}
.searchPage__result > .searchPage__resultTitle:hover  {
    text-decoration: underline;
}
.searchPage__result > .searchPage__resultTitle h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 4px;
    margin-bottom: 3px;
}
.searchPage__result > .searchPage__resultSnippet  {
    font-size: 14px;
    margin: 0;
}




@media (max-width: 900px){
    .searchPage__header {
        flex-direction: column;
    }
}